<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>DeckShare</title>
</head>
<body>
    <nav class="nav-container">
        <h1 class="center nav-item-big"><a href="/">MTG DeckShare</a></h1>

        <li class="nav-item">
            <a href="/newdeck">New Deck</a>
        </li>
        <li class="nav-item">
            <a href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
            <a href="https://brysoncoons.com/">Other Works</a>
        </li>
    </nav>



    <div class="center column">
        <div class="user-area">
            <h2 class="user-area-header">Frequently Asked Questions</h2>
            
            <div class="accordion-container">
                <div class="accordion">
                  <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                      <span class="accordion-title">What is this app for?</span>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                      <p>
                        This is a CRUD application built to allow Magic: The Gathering players to easily store, view, and share their Magic decks with others.
                            As the app continues to improve, more features will eventually be implemented such as user authentication, easy editing/deletion of existing
                            decks, and social features.
                      </p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                      <span class="accordion-title">How do I use this app?</span>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                      <p>
                        Users may build their decks using a number of pre-existing deck building apps. Supported formats are <a href="https://archidekt.com/" class="p-link">Archidekt</a>, <a href="https://www.moxfield.com/" class="p-link">Moxfield</a>, and 
                            <a href="https://www.manabox.app/" class="p-link">Manabox</a>. After your deck is complete, export the deck as a text string and paste it into the new deck form.
                            - For Archidekt, please use the "1x Card Name (code)" option.
                            - For Manabox and Moxfield, the standard export settings should be used.
                      </p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                      <span class="accordion-title">Is this app finished?</span>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                      <p>
                        Absolutely not! DeckShare will continue to be improved as long as it is hosted. Please request new features or give suggestions as you please.
                      </p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                      <span class="accordion-title">How can I submit suggestions for app features?</span>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                      <p>
                        If you're a GitHub user, please go to the <a href="https://github.com/tacbodell/DeckShare" class="p-link">GitHub repository</a> for this project and submit a new issue. Don't forget to star the 
                            repo! Otherwise, feel free to reach out to me on any of 
                            my socials to request new features.
                      </p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                      <span class="accordion-title">Who made this app?</span>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                      <p>
                        My name is Bryson Coons, and I'm a full stack software engineer from Chesapeake, Virginia. Feel free to look through my socials <a href="https://brysoncoons.com/" class="p-link">here</a> and connect with me!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    <script src="/js/faq.js"></script>
</body>
</html>