<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>DeckShare</title>
</head>
<body>
    <nav class="nav-container">
        <h1 class="center nav-item-big"><a href="/">MTG DeckShare</a></h1>
    
        <li class="nav-item">
            <a href="/newdeck">New Deck</a>
        </li>
        <li class="nav-item">
            <a href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
            <a href="https://brysoncoons.com/">Other Works</a>
        </li>
    </nav>

    <div class="center column">
        <div class="user-area">
            <h2 class="all-decks-header">ALL DECKS:</h2>
            <ul class="image-area">

                <% for (let i = 0; i < allDecks.length; i++) { %>
                <a href="/viewdeck/<%= allDecks[i]._id.toString() %>">
                    <li class="center deck-list-entry">
                        <img class="deck-image" src=<%= allDecksImages[i] %>>
                        <span class="bold"><%= allDecks[i].deckName %></span>
                        <span><%= allDecks[i].deckAuthor %></span>
                    </li>
                </a>
                <% } %>

            </ul>
        </div>
    </div>
</body>
</html>