<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>DeckShare</title>
</head>
<body>
    <h1>Hello MTG Fans!</h1>

    <form action="/deck" method="POST">
        <input type="text" placeholder="deck author" name="deckAuthor">
        <input type="text" placeholder="deck name" name="deckName">
        <input type="text" placeholder="card string" name="cardString">
        <button type="submit">Submit</button>
    </form> 

    <h2>Below is a list of all the cards in my awesome deck:</h2>
    <ul>
    <% for (let i = 0; i < decks.length; i++){ %>
        <li>
            <span><%= decks[i].name %>: </span>
            <span><%= decks[i].cardName1 %></span>
        </li>
    <% } %>
    </ul>

    <img src=<%= cardImage %>>
</body>
</html>