<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/newdeck.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>DeckShare</title>
</head>
<body>
    <nav class="nav-container">
        <h1 class="center nav-item-big"><a href="/">MTG DeckShare</a></h1>

        <li class="nav-item">
            <a href="/newdeck">New Deck</a>
        </li>
        <li class="nav-item">
            <a href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
            <a href="https://brysoncoons.com/">Other Works</a>
        </li>
    </nav>



    <div class="center column">
        <div class="user-area">
            <h2 class="user-area-header">Submit a new deck here!</h2>
            <p>For info on how to get your card string, please check the FAQ <a href="/faq" class="p-link">here.</a></p>
            <form action="/deck" method="POST" class="submit-area">
                <input type="text" placeholder="deck author" name="deckAuthor" class="form-input">
                <input type="text" placeholder="deck name" name="deckName" class="form-input">
                <textarea type="text" placeholder="archidekt card string" name="cardString" class="form-input-big"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    
</body>
</html>