body {
    background: rgb(48, 48, 48);
    color: white;
}
h1 {
    font-weight: bold;
    margin: 1rem;
    font-size: 3rem;
}
h2 {
    font-weight: bold;
    margin: .7rem;
    font-size: 1.75rem;
}
.bold {
    font-weight: bold;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {
    flex-flow: column nowrap;
}
.image-area {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.card-image {
    width: 15rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.deck-list-entry {
    flex-flow: column nowrap;
}