body {
    background: rgb(48, 48, 48);
    color: white;
    box-sizing: border-box;
}
h1 {
    font-weight: bold;
    padding: 1rem;
    font-size: 3rem;
}
h2 {
    font-weight: bold;
    padding: .7rem;
    font-size: 1.75rem;
}
p {
    font-size: 1.3rem;
}
.bold {
    font-weight: bold;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {
    flex-flow: column nowrap;
}
/* nav */
.nav-container {
    background: rgb(85, 85, 85);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.nav-item {
    font-size: 2rem;
}
.nav-item:hover {
    color: #03b5d2;
}
.nav-item-big:hover {
    color: #03b5d2;
}

/*form area*/
.user-area {
    background: rgb(85, 85, 85);
    max-width: 80rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 2rem;
    gap: 2rem;
}
.user-area-header {
    width: 80rem;
    text-align: center;
}
.p-link {
    color: #03b5d2;
    text-decoration: underline;
}
.submit-area {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}
.form-input {
    width: 20rem;
}
.form-input-big {
    width: 20rem;
    height: 10rem;
}
